<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<div class="page-container">
  <header th:replace="~{fragments/commons::header}"></header>
  <main class="content-wrap">
    <div class="center">
      <h1 class="a">ERROR</h1>
      <h3 class="b transition">Error page</h3>
      <p class="b h3 transition">
        <a class="c" href="/login">
          Login
        </a>if you have an acount or
        <a class="c" href="/register">
          Register
        </a>and manage your tasks</p>
    </div>
  </main>
  <footer th:replace="~{fragments/commons::footer}"></footer>
</div>
</body>
</html>